co2meter_prototype.elf
co2meter_prototype.map
stlink/build/gdb-remote.d
stlink/build/gdb-remote.o
stlink/build/gdb-server.d
stlink/build/gdb-server.o
stlink/build/st-util
stlink/build/stlink-hw.d
stlink/build/stlink-hw.o
stlink/
*.o
*.i
*.log
PVS-Studio.RESULTS
PVS-Studio.cfg

